# Ignore node_modules directory
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
.env

# Ignore production build files if applicable
dist/
build/

# Ignore dependency directories
.bower_components/
jspm_packages/

# Ignore coverage directory used by testing tools
coverage/

# Ignore temporary files
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.bak

# Ignore IDE/project-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Tailwind's generated CSS
public/styles.css
